* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$font-stack: 'Rubik', sans-serif;

//variables mixin functions
@mixin flexContainer($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

$margin: 1rem auto;
