@import './_config.scss';
@import './_utilities.scss';
@import './_input.scss';
@import './_button.scss';
@import './_cube.scss';

body {
    font-family: $font-stack;
    max-width: 100vw;
    width: 100%;
    height: 100%;
    color: #393e46;
    background-color: #fcf9f4;
    font-size: 18px;
}
.navbar {
    background-color: #ff6464;
    @include flexContainer(row);
    width: 100%;
    padding: 1% 10%;
    justify-content: space-between;
    .navbar-brand {
        text-decoration: none;
        cursor: pointer;
        color: #fff;
        .navbar-brand-wrapper {
            @include flexContainer(column);
            height: 6rem;
            justify-content: space-evenly;
        }
    }
    .navbar-link-wrapper {
        width: 30%;
        @include flexContainer(row);
        justify-content: space-around;
    }
    .nav-link {
        text-decoration: none;
        color: #fff;
        cursor: pointer;
    }

    .logo {
        margin: $margin;
        width: 50px;
        height: 50px;
    }
}

.top-50-news-wrapper {
    @include flexContainer(column);
    h1 {
        margin: 2rem auto 0;
    }
}
.news-wrapper {
    @include flexContainer(row);
    width: 80vw;
    height: 100%;
    margin: 2rem auto;
    flex-wrap: wrap;
}

.news {
    @include flexContainer(column);
    width: 360px;
    height: 480px;
    text-align: center;
    margin: $margin;

    a {
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: #393e46;
        background-color: #f2f2f0;
        box-shadow: 10px 5px 5px #c1c1c1;
        border-radius: 6px;
    }

    .news-image-wrapper {
        @include flexContainer(row);
        margin: 1rem auto 0;
        width: 100%;
        height: 37%;
        border-radius: 4px;
    }

    .news-image {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .news-info-wrapper {
        @include flexContainer(column);
        justify-content: space-between;
        height: 43%;
        padding: 1rem;
        margin: 0 auto 1rem;
        .news-title {
            margin-bottom: 0.4rem;
        }
        .news-source {
            @extend .news-title;
            font-size: 16px;
        }
        .news-description {
            font-size: 14px;
            font-weight: 300;
        }
    }

    .news-category-wrapper {
        height: 12%;
        @include flexContainer(column);

        .news-category-image {
            width: 10%;
        }
    }
}

.explore-news-wrapper {
    margin: $margin;
    width: 100%;
    height: 100%;
}

.search-form-wrapper {
    background-color: #f2f2f0;
    box-shadow: 10px 5px 5px #c1c1c1;
    border-radius: 6px;
    width: 70%;
    height: 80vh;
    margin: 2.5rem auto;
    padding: 2rem;

    .keyword-input {
        @extend %input;
    }
    .limit-input {
        @extend %input;
    }
    .search-form {
        width: 100%;
        height: 100%;
    }
}
.btn {
    @extend %btn;
}

.results-wrapper {
    width: 80%;
    height: 100%;
    margin: auto;

    @include flexContainer(column);
}

.search-params-wrapper {
    background-color: #f2f2f0;
    box-shadow: 10px 5px 5px #c1c1c1;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 1rem;
    @include flexContainer(column);
    justify-content: space-between;
    .search-term-wrapper {
        width: 100%;
        padding: 1rem;
        margin: $margin;
        @include flexContainer(row);
        justify-content: space-around;
        img {
            width: 30px;
            height: 30px;
        }
        .search-params-text {
            color: #f2f2f0;
            padding: 0.5rem;
            border: 1px;
            border-radius: 4px;
        }
    }
    .btn {
        margin: $margin;
    }
}
